.contacto {
    padding: 50px 20px;
    background: linear-gradient(135deg, #feb47b 0%, #ff7e5f 100%);
    color: #fff;
}

.contacto h2 {
    margin-bottom: 30px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
}

input::placeholder, textarea::placeholder {
    color: #ddd;
}

button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%;
}

button:hover {
    background-color: #ff7e5f;
    transform: scale(1.05);
}

.status {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

.status.success {
    background-color: #28a745; /* Color de fondo verde */
    color: #fff; /* Color de texto blanco */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-top: 20px; /* Margen superior */
    text-align: center; /* Centrar el texto */
    font-weight: bold; /* Negrita */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle más profundidad */
}
